body {
  background-color: #f0f0e0;
}

.title {
  font-size: 50px;
  font-weight: 300;
  padding-top: 50px;
}

p {
  color: #6f6f70;
}

.form {
  background-color: white;
  margin: 30px 200px;
  border-radius: 20px;
  padding: 40px 200px;
}

.error {
  color: red;
}

.user,
.password {
  margin: 30px auto;
}

label {
  color: #6f6f70;
}

.btn {
  color: #6f6f70;
  background-color: #f0f0e0;
  border-bottom: 5px solid #f0f0e0;
  padding: 6px 80px;
  margin-bottom: 20px;
}

.btn:hover {
  margin-top: 3px;
  color: #6f6f70;
  background: #f0f0e0;
  border-bottom: 2px solid #f0f0e0;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.create,
.forget {
  margin: 15px 0;
}

a {
  color: #6f6f70;
  font-size: 18px;
}

a:hover {
  color: #404040;
}
