{% extends "question/base.html" %}

{% block body %}

<main>
  <div class="container-fluid">
    <h1 style="text-align:center" id="title"></h1>
    <div class="shadow p-2">
    <div class="row">
      <div class="col-lg-12">
        <h1 style="text-align:center" id="js-question" value="">Apple</h1>
        <!-- <input type="text" name="question" class="option"value="" size="50" readonly>
        <input type="text" name="question" id="question" value="Apple" style="text-align:center" size="50" readonly> -->
      </div>
    </div>
    <br />
    <br /> 
    <br /> 
    <div id="a_select">
      <!-- <input type="radio" name="example" value="サンプル" class="geomsize">  <input type="text" name="one" class="option"value="" size="20" readonly><br />
      <input type="radio" name="example" value="サンプル" class="geomsize">  <input type="text" name="one" class="option"value="" size="20" readonly><br />
      <input type="radio" name="example" value="サンプル" class="geomsize">  <input type="text" name="one" class="option"value="" size="20" readonly><br />
      <input type="radio" name="example" value="サンプル" class="geomsize">  <input type="text" name="one" class="option"value="" size="20" readonly><br /> -->

      <button type="button" class="btn btn-info" id="button1" value="" size="20">Primary</button>
      <button type="button" class="btn btn-info" id="button2" value="" size="20">Primary</button>
      <button type="button" class="btn btn-info" id="button3" value="" size="20">Primary</button>
      <button type="button" class="btn btn-info" id="button4" value="" size="20">Primary</button>


    </div>
  
  <!-- <div class="row">
    <div class="col-lg-3 offset-md-10" >
    <button type="submit" class="btn btn-warning" id="submit">Next

    </button>
    <!-- <button type="submit" class="btn btn-warning" id="submit">Next
      <i class="fa fa-check" aria-hidden="true"></i>
    </button> -->
  </div>
  </div>
</div>
  </div>
</div>
</main>
<footer class="bar">
  <hr class="mt-5">
  <p class="text-right" id="footertitle">RareTECH</p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

{% endblock %}
