* {
    font-family: Arial, Helvetica, sans-serif;
  }
  html, body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #fff;
  }

 .bar{
      background-color: #073763;
      margin-bottom: absolute;
      margin-top: 100px;
  }

  .bar1{
    background-color: #073763;
    margin-top: 0px; 
  }

  #bar-title{
      color:#FFFF00;
      font-size: 1.5em;

  } 
  
  main {

    margin: auto;
    /* padding-right: 100px;
    padding-left: 100px; */
    padding-top: 20px;
    background-color: #fff;
    width: 1020px;

    
  }
  footer {
    background-color: #fff;
    margin-bottom: 0px;
  }
  main > h1 {
    text-align: center;
    font-size: 3.5em;
  }
#title{
    margin-top: 100px;
    /* font-family: 'Oswald', sans-serif; */
}


#a_select{
    text-align: center;
    font-size:1.8em;
    margin-bottom: 50px;
}
input.geomsize {
    width: 1em;
    height: 1em;
    margin-top: 50px;
 }

  textarea {
    width: 400px;
    height: 70px;
  }
  .row {
    margin-top: 20px;
  }
  .shadow {
    background-color: #F0F8FF;
    width: 800px;
    margin: auto;
    border: solid 5px #000000;
    padding: 5px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  }

  .option{
    border:0;
    border-bottom:1px solid #000000;
    background-color:#ffffff;
    color:#000000;
  }
  #submitdate  {
    width: 250px;  /* 横幅 */
  }
  #yojisseki {
    width: 250px;
  }
  #lastweekSchedule {
    width: 600px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #result {
    width: 600px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #improvements {
    width: 600px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #weeklySchedule {
    width: 600px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #topic {
    width: 600px;  /* 横幅 */
    height: 70px; /* 高さ */ 
  }
  #problem {
    width: 600px;  /* 横幅 */
    margin-top: 2px;
  }
  #problem2 {
    width: 300px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #problem3 {
    width: 300px;  /* 横幅 */
    height: 70px; /* 高さ */ 
    margin-top: 2px;
  }
  #other {
    width: 600px;  /* 横幅 */
    height: 100px; /* 高さ */ 
  }
  #submit {
    margin-bottom: 20px; 
    margin-right: 15px;
    width: 100px;
  }

  #footertitle{
    color:#FFFF00;
    margin-right: 15px; 
    font-size: 1.5em;
    padding-bottom: 15px;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* メニューを上ぴったしに合わせる */
.mt-3, .my-3 {
    margin-top: 0rem !important;
}

#navbarNav3{
  position: absolute;
      right: 10px;
}

