body {
    height:100vh;
    background-color: #F0F0E0 !important;
}
.container {
    justify-content:center;
    align-items:center;
}
.inner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
h1 {
    margin: 40px auto;
    font-size:50px;
}

.animation {
    width:300px;
    height:70px;
    text-align:center;
    border:2px solid #333 !important;
    border-radius: 4px;
    float:left;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 60px 0;
}

.animation a {
    font-family:arial;
    font-size:40px;
    color:#333 !important;
    text-decoration:none;
    line-height:60px;
    transition:all .10s ease;
    z-index:2;
    position:relative;
}
.effect {
    width:300px;
    height:70px;
    top:-2px;
    left:-300px;
    background: #333;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.animation:hover .effect {
    left:0;
}
.animation:hover a {
    color:#FFFFFF !important;
}
.choice {
    display: inline-flex;
    flex-direction: column;
    align-items: start; /* ADD */
    margin-top: 4em;
}