{% extends "word/base.html" %}
{% load static %}


{% block header %}
<strong class="top_title">問題作成</strong>
{% endblock %}

{% block body %}

<div class="top_reverse">
  <a href="#">単語リストへ戻る<i class="fas fa-undo-alt"></i></a>
    </div>
<div class="edit_container">
<form method="POST" enctype="multipart/form-data">{% csrf_token %}

  <p class="edit_form">英単語</p>
  <input type="text"class="edit_formbox" name="英単語"></p>

  <p class="edit_form">解答</p>
  <input type="text" class="edit_formbox" name="解答"></p>
  <p class="edit_form">選択肢A</p>
  <input type="text" class="edit_formbox" name="選択肢A"></p>
  <p class="edit_form">選択肢B</p>
  <input type="text" class="edit_formbox" name="選択肢B"></p>
  <p class="edit_form">選択肢C</p>
  <input type="text" class="edit_formbox" name="選択肢C"></p>

    <input type="submit" value="新規作成">
  </form>
</div>


{% endblock %}
